button {
  text-align: center;
  border-radius: 3px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, filter .15s ease-in-out;

  &.btn-primary {
    background-color: var(--color-primary);
  }

  &.btn-secondary {
    background: var(--color-secondary, #6c757d);
  }
}
